<!--begin about info-->
<section class="about_info">
    <div class="container">
        <div class="about_info__title">
            <h2 class="title">About us</h2>
        </div>
        <div class="about_info__wrapper about_i_wrap">
            <!--begin about item-->
            <div class="about_i_wrap__item about_i_item">
                <img src="img/img_about_us.jpg" alt="About us">
            </div>
            <!--end about item-->
            <!--begin about item-->
            <div class="about_i_wrap__item about_i_item">
                <div class="about_i_item__text">
                    <p>Govind Balakrishnan and Srikant Chakravarti Sed ut perspiciatis, unde omnis iste natus error sit voluptatem accusantium doloremque laudantium, totam rem aperiam eaque ipsa, quae ab illo inventore veritatis et quasi architecto beatae vitae dicta sunt. nde omnis iste natus error sit voluptatem accusantium doloremque laudantium, totam rem aperiam eaque ipsa.</p>
                </div>
            </div>
            <!--end about item-->
        </div>
    </div>
</section>
<!--end about info-->
<!--begin about advisors-->
<section class="about_advisors">
    <div class="container">
        <div class="about_advisors__title">
            <h2 class="title">Advisors</h2>
        </div>
        <div class="about_advisors__text">
            <p>Sed ut perspiciatis, unde omnis iste natus error sit voluptatem accusantium doloremque laudantium, totam rem aperiam eaque ipsa, quae ab illo inventore veritatis et.</p>
        </div>
        <div class="about_advisors__wrapper advisors_wrap">
            <!--begin advisors item-->
            <div class="advisors_wrap__item advisors_item">
                <div class="advisors_item__img">
                    <img src="img/img_adv_1.jpg" alt="Advisor">
                </div>
                <div class="advisors_item__title">
                    <h3 class="title">David Rowan</h3>
                </div>
                <div class="advisors_item__text">
                    <p>Amque laudantium, totam rem aperiam eaque ipsa, quae ab illo inventore veritatis et.</p>
                </div>
            </div>
            <!--end advisors item-->
            <!--begin advisors item-->
            <div class="advisors_wrap__item advisors_item">
                <div class="advisors_item__img">
                    <img src="img/img_adv_2.jpg" alt="Advisor">
                </div>
                <div class="advisors_item__title">
                    <h3 class="title">David Rowan</h3>
                </div>
                <div class="advisors_item__text">
                    <p>Amque laudantium, totam rem aperiam eaque ipsa, quae ab illo inventore veritatis et.</p>
                </div>
            </div>
            <!--end advisors item-->
            <!--begin advisors item-->
            <div class="advisors_wrap__item advisors_item">
                <div class="advisors_item__img">
                    <img src="img/img_adv_3.jpg" alt="Advisor">
                </div>
                <div class="advisors_item__title">
                    <h3 class="title">David Rowan</h3>
                </div>
                <div class="advisors_item__text">
                    <p>Amque laudantium, totam rem aperiam eaque ipsa, quae ab illo inventore veritatis et.</p>
                </div>
            </div>
            <!--end advisors item-->
        </div>
    </div>
</section>
<!--end about advisors-->
<!--begin about narrators-->
<section class="about_narrators">
    <div class="container">
        <div class="about_narrators__title">
            <h2 class="title">Our narrators</h2>
        </div>
        <div class="about_narrators__text">
            <p>Sed ut perspiciatis, unde omnis iste natus error sit voluptatem accusantium doloremque laudantium, totam rem aperiam eaque ipsa, quae ab illo inventore veritatis et.</p>
        </div>
        <div class="about_narrators__wrapper narrators_wrap">
            <!--begin narrators item-->
            <div class="narrators_wrap__item narrators_item">
                <div class="narrators_item__img">
                    <img src="img/img_narrator_1.jpg" alt="Narrator">
                </div>
                <div class="narrators_item__name">
                    <h3 class="title">David Rowan</h3>
                </div>
            </div>
            <!--end narrators item-->
            <!--begin narrators item-->
            <div class="narrators_wrap__item narrators_item">
                <div class="narrators_item__img">
                    <img src="img/img_narrator_2.jpg" alt="Narrator">
                </div>
                <div class="narrators_item__name">
                    <h3 class="title">David Rowan</h3>
                </div>
            </div>
            <!--end narrators item-->
            <!--begin narrators item-->
            <div class="narrators_wrap__item narrators_item">
                <div class="narrators_item__img">
                    <img src="img/img_narrator_3.jpg" alt="Narrator">
                </div>
                <div class="narrators_item__name">
                    <h3 class="title">David Rowan</h3>
                </div>
            </div>
            <!--end narrators item-->
            <!--begin narrators item-->
            <div class="narrators_wrap__item narrators_item">
                <div class="narrators_item__img">
                    <img src="img/img_narrator_4.jpg" alt="Narrator">
                </div>
                <div class="narrators_item__name">
                    <h3 class="title">David Rowan</h3>
                </div>
            </div>
            <!--end narrators item-->
            <!--begin narrators item-->
            <div class="narrators_wrap__item narrators_item">
                <div class="narrators_item__img">
                    <img src="img/img_narrator_5.jpg" alt="Narrator">
                </div>
                <div class="narrators_item__name">
                    <h3 class="title">David Rowan</h3>
                </div>
            </div>
            <!--end narrators item-->
            <!--begin narrators item-->
            <div class="narrators_wrap__item narrators_item">
                <div class="narrators_item__img">
                    <img src="img/img_narrator_6.jpg" alt="Narrator">
                </div>
                <div class="narrators_item__name">
                    <h3 class="title">David Rowan</h3>
                </div>
            </div>
            <!--end narrators item-->
        </div>
    </div>
</section>
<!--end about narrators-->