<!--begin home start-->
<section class="home_start" style="background-image: url('img/bg_home.jpg')">
    <div class="container">
        <div class="home_start__title">
            <h1 class="title">INTELLIGENT AUDIO FOR BUSY PEOPLE</h1>
        </div>
        <div class="home_start__text">
            <p>Listen to the definitive take on current events from The Financial Times, The Guardian, Aeon and more</p>
        </div>
        <div class="home_start__form show_desctop">
            <form action="">
                <input type="email" placeholder="Email">
                <input type="submit" value="Start listening">
            </form>
        </div>
        <div class="home_start__info show_desctop">
            <p>First month free. £5.99 or $7.99/month thereafter.</p>
        </div>
        <div class="home_start__link show_flex">
            <a href="#/"><img src="img/image_appstore.png" alt="Apple store"></a>
            <a href="#/"><img src="img/image_googleplay.png" alt="Google play"></a>
        </div>
    </div>
</section>
<!--end home start-->
<!--begin home phrase-->
<section class="home_phrase">
    <div class="container">
        <div class="home_phrase__icon">
            <img src="img/icon_phrase.svg" alt="Phrase icon">
        </div>
        <div class="home_phrase__text">
            <p>Just love this. Can't understand why an app like this hasn't existed all this time.</p>
        </div>
        <div class="home_phrase__info">
            <p>Duane Eddy on the App Store</p>
        </div>
    </div>
</section>
<!--end home phrase-->
<!--begin home publications-->
<section class="home_publications">
    <div class="home_publications__wrapper home_p_wrap">
        <div class="home_p_wrap__item home_p_item">
            <div class="home_p_item__bl home_p_bl">
                <div class="home_p_bl__logo home_p_logo">
                    <div class="home_p_logo__item">
                        <a href="#/"><img src="img/icon_publ_1.png" alt="Publication logo"></a>
                    </div>
                    <div class="home_p_logo__item">
                        <a href="#/"><img src="img/icon_publ_2.svg" alt="Publication logo"></a>
                    </div>
                    <div class="home_p_logo__item">
                        <a href="#/"><img src="img/icon_publ_3.svg" alt="Publication logo"></a>
                    </div>
                    <div class="home_p_logo__item">
                        <a href="#/"><img src="img/icon_publ_4.svg" alt="Publication logo"></a>
                    </div>
                    <div class="home_p_logo__item">
                        <a href="#/"><img src="img/icon_publ_5.svg" alt="Publication logo"></a>
                    </div>
                    <div class="home_p_logo__item">
                        <a href="#/"><img src="img/icon_publ_6.svg" alt="Publication logo"></a>
                    </div>
                    <div class="home_p_logo__item">
                        <a href="#/"><img src="img/icon_publ_7.svg" alt="Publication logo"></a>
                    </div>
                    <div class="home_p_logo__item">
                        <a href="#/"><img src="img/icon_publ_8.svg" alt="Publication logo"></a>
                    </div>
                    <div class="home_p_logo__item">
                        <a href="#/"><img src="img/icon_publ_9.svg" alt="Publication logo"></a>
                    </div>
                </div>
                <div class="home_p_item__link">
                    <a href="#/">See all our publications</a>
                </div>
            </div>
        </div>
        <div class="home_p_wrap__item home_p_item">
            <div class="home_p_item__bl home_p_bl">
                <p>We select the best articles from the world’s top publications, as well as game-changing ideas from leading thinkers:</p>
                <p><b>Yuval Noah Harari,  Elena Ferrante, Glenn Greenwald, Mike Moritz, Hilary Mantel</b></p>
            </div>
        </div>
        <div class="home_p_wrap__item home_p_item">
            <div class="home_p_item__bl home_p_bl">
                <p>Brought to life by the world’s most compelling narrators, so that you can listen anywhere!</p>
            </div>
        </div>
        <div class="home_p_wrap__item home_p_item">
            <div class="home_p_item__bl home_p_bl">
                <div class="home_p_bl__person home_p_pesron">
                    <img src="img/person_1.jpg" alt="Person">
                    <img src="img/person_2.jpg" alt="Person">
                    <img src="img/person_3.jpg" alt="Person">
                    <img src="img/person_4.jpg" alt="Person">
                    <img src="img/person_5.jpg" alt="Person">
                    <img src="img/person_6.jpg" alt="Person">
                    <img src="img/person_7.jpg" alt="Person">
                    <img src="img/person_8.jpg" alt="Person">
                    <img src="img/person_9.jpg" alt="Person">
                    <img src="img/person_10.jpg" alt="Person">
                    <img src="img/person_11.jpg" alt="Person">
                    <img src="img/person_12.jpg" alt="Person">
                    <img src="img/person_13.jpg" alt="Person">
                    <img src="img/person_14.jpg" alt="Person">
                    <img src="img/person_15.jpg" alt="Person">
                </div>
            </div>
        </div>
    </div>
</section>
<!--end home publications-->
<!--begin home time-->
<section class="home_time" style="background-image: url('img/bg_time.jpg')">
    <div class="container">
        <div class="home_time__title">
            <h2 class="title">Find time you never knew you had </h2>
        </div>
        <div class="home_time__btn show_desctop">
            <a class="btn_red" href="#/">Start listening</a>
        </div>
        <div class="home_time__text show_desctop">
            <p>First month free. £5.99 or $7.99/month thereafter.</p>
        </div>
        <div class="home_time__link show_flex">
            <a href="#/"><img src="img/image_appstore_dark.png" alt="Apple store"></a>
            <a href="#/"><img src="img/image_googleplay_dark.png" alt="Google play"></a>
        </div>
    </div>
</section>
<!--end home time-->
<!--begin home about-->
<section class="home_about">
    <div class="container">
        <div class="home_about__wrapper home_a_wrap">
            <div class="home_a_wrap__item home_a_item show_desctop">
                <img src="img/home_about.png" alt="About">
            </div>
            <div class="home_a_wrap__item home_a_item">
                <div class="home_a_item__title">
                    <h2 class="title">A listening experience designed for busy people on the go</h2>
                </div>
                <img class="show_mobile" src="img/home_about.png" alt="About">
                <div class="home_a_item__list home_a_list">
                    <ul>
                        <li>
                            <img src="img/icon_about_1.svg" alt="About">
                            Over 2000 articles from top publications
                        </li>
                        <li>
                            <img src="img/icon_about_2.svg" alt="About">
                            Unlimited ad-free listening
                        </li>
                        <li>
                            <img src="img/icon_about_3.svg" alt="About">
                            Updated with new pieces every day
                        </li>
                        <li>
                            <img src="img/icon_about_4.svg" alt="About">
                            Unlimited downloads and offline listening
                        </li>
                    </ul>
                </div>
                <div class="home_a_item__link show_flex">
                    <a href="#/"><img src="img/image_appstore_dark.png" alt="Apple store"></a>
                    <a href="#/"><img src="img/image_googleplay_dark.png" alt="Google play"></a>
                </div>
            </div>
        </div>
        <div class="home_about__btn show_desctop">
            <a class="btn_red" href="#/">Start listening</a>
        </div>
        <div class="home_about__text show_desctop">
            <p>First month free. £5.99 or $7.99/month thereafter.</p>
        </div>
    </div>
</section>
<!--end home about-->