<!--begin footer-->
<footer class="footer">
    <div class="container">
        <div class="footer__wrapper footer_wrap">
            <!--begin footer item-->
            <div class="footer_wrap__item footer_item">
                <div class="footer_item__title">
                    <h3 class="title">
                        Stay connected
                    </h3>
                </div>
                <div class="footer_item__form">
                    <form action="">
                        <input type="email" placeholder="Email">
                        <input type="submit" value="Sign up">
                    </form>
                </div>
                <div class="footer_item__socials socials">
                    <ul>
                        <li><a href="#/">
                            <i class="fa fa-twitter" aria-hidden="true"></i>
                        </a></li>
                        <li><a href="#/">
                            <i class="fa fa-facebook" aria-hidden="true"></i>
                        </a></li>
                        <li><a href="#/">
                            <i class="fa fa-instagram" aria-hidden="true"></i>
                        </a></li>
                    </ul>
                </div>
            </div>
            <!--end footer item-->
            <!--begin footer item-->
            <div class="footer_wrap__item footer_item">
                <div class="footer_item__title">
                    <h3 class="title">
                        Curio.io
                    </h3>
                </div>
                <ul>
                    <li><a href="#/">About us</a></li>
                    <li><a href="#/">Publications</a></li>
                    <li><a href="#/">Web player</a></li>
                    <li><a href="#/">Your account</a></li>
                    <li><a href="#/">Terms of use</a></li>
                    <li><a href="#/">Privacy policy</a></li>
                </ul>
            </div>
            <!--end footer item-->
            <!--begin footer item-->
            <div class="footer_wrap__item footer_item">
                <div class="footer_item__title">
                    <h3 class="title">
                        Blog
                    </h3>
                </div>
                <ul>
                    <li><a href="#/">Lorem ipsum dolor sit amet conse cuter adisip</a></li>
                    <li><a href="#/">Desip acutere derer talem</a></li>
                    <li><a href="#/">Tatem lorem direpsi sit amet cuter lorem ipsum</a></li>
                    <li><a href="#/">See more…</a></li>
                </ul>
            </div>
            <!--end footer item-->
            <!--begin footer item-->
            <div class="footer_wrap__item footer_item">
                <a href="#/"><img src="img/image_appstore.png" alt="Apple store"></a>
                <a href="#/"><img src="img/image_googleplay.png" alt="Google play"></a>
            </div>
            <!--end footer item-->
        </div>
        <div class="footer__copyright">
            <p>© 2018 Curio Labs Ltd. All rights reserved.</p>
        </div>
    </div>
</footer>
<!--end footer-->