<!--begin preloader-->
<div class="overlay">
    <div class="overlay-loader container"><img src="img/logo.svg" alt="Logo"></div>
</div>
<div class="over"></div>
<!--begin header-->
<header class="header">
    <div class="container">
        <div class="header__top header_top">
            <div class="header_top__logo logo">
                <a href="/"><img src="img/logo.svg" alt="Logo"></a>
            </div>
            <div class="header_top__login login">
                <a href="#/"><img src="img/icon_person.svg" alt="Login"></a>
            </div>
        </div>
    </div>
</header>
<!--end header-->
<!--begin login-->
<div class="login_block">
    <div class="login_block__close">
    </div>
    <div class="login_modal">
        <div class="login_modal__title">
            <h3 class="title">Sign up</h3>
        </div>
        <div class="login_modal__socials login_soc">
            <a class="login_modal_soc__item">Connect with Facebook</a>
            <a class="llogin_modal_soc__item">Connect with Google</a>
        </div>
        <div class="login_modal__separate">
            <p>or</p>
        </div>
        <div class="login_modal__form">
            <form action="">
                <input type="email" placeholder="Email">
                <label>
                    <input type="checkbox" checked="checked">
                    <span class="checkmark"></span>
                    Sign up to our newsletter
                </label>
                <input type="submit" value="Create account">
            </form>
        </div>
        <div class="login_modal__text">
            <p>Already have an account? <a href="#/">Login here</a></p>
            <p>By continuing you declare that you’ve read and agree to our <a href="#/">Terms of Service</a> & <a
                    href="#/">Privacy Policy</a></p>
        </div>
    </div>
</div>
<!--end login-->
<!--begin newsletter-->
<div class="newsletter_block">
    <div class="newsletter_block__close">
    </div>
    <div class="newsletter_modal">
        <div class="newsletter_modal__title">
            <h3 class="title">Get the inside scoop!</h3>
        </div>
        <div class="newsletter_modal__text">
            <p>Sign-up to stay ahead with our weekly top 5 and other updates </p>
        </div>
        <div class="newsletter_modal__form">

        </div>
        <div class="newsletter_modal__bottom">
            <p>By continuing you declare that you’ve read and agree to our <a href="#/">Terms of Service</a> & <a href="#/">Privacy Policy</a></p>
        </div>
    </div>
</div>
<!--begin newsletter-->