<!--begin subscription starting-->
<section class="subscription_start">
    <div class="container">
        <div class="subscription_start__numbers">
            <p>3…2…1…</p><img src="img/icon_rocket.svg" alt="Rocket">
        </div>
        <div class="subscription_start__title">
            <h3 class="title">
                Your free month starts now!
            </h3>
        </div>
        <div class="subscription_start__text">
            <p>Sed ut perspiciatis, unde omnis iste natus error sit voluptatem accusantium doloremque laudantium, totam rem aperiam eaque ipsa, quae ab illo inventore veritatis et quasi architecto beatae vitae dicta sunt, explicabo.</p>
            <p>Lorem ipsum dolor sit amet consecuter adisip</p>
        </div>
        <div class="subscription_start__btn">
            <a class="btn_red" href="#/">Create account</a>
        </div>
    </div>
</section>
<!--end subscription starting-->