<!--begin subscription plan-->
<section class="subscription_plan" style="background-image: url('img/bg_time.jpg')">
    <div class="container">
        <div class="subscription_plan__title">
            <h1 class="title">
                Choose your plan
            </h1>
        </div>
        <div class="subscription_plan__wrapper subscription_wrap">
            <!--begin subscription item-->
            <duv class="subscription_wrap__item subscription_item">
                <div class="subscription_item__old">
                    Save 30%
                </div>
                <div class="subscription_item__info subscription_info">
                    <div class="subscription_info__title">
                        <h3 class="title">Annual plan</h3>
                    </div>
                    <div class="subscription_info__price">
                        $5.00<span>/month</span>
                    </div>
                </div>
                <div class="subscription_item__text">
                    <p>Once you subscribe, iTunes will charge you the annual fee of £71.88 after 7 days unless you cancel the trial 24 hours before it expires.</p>
                </div>
                <div class="subscription_item__price">
                    <a class="btn_red" href="#/">Subscribe</a>
                </div>
            </duv>
            <!--end subscription item-->
            <!--begin subscription item-->
            <duv class="subscription_wrap__item subscription_item">
                <div class="subscription_item__old">

                </div>
                <div class="subscription_item__info subscription_info">
                    <div class="subscription_info__title">
                        <h3 class="title">Monthly plan</h3>
                    </div>
                    <div class="subscription_info__price">
                        $7.99<span>/month</span>
                    </div>
                </div>
                <div class="subscription_item__text">
                    <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor ipsum lor rolod sit amet.</p>
                </div>
                <div class="subscription_item__price">
                    <a class="btn_red" href="#/">Subscribe</a>
                </div>
            </duv>
            <!--end subscription item-->
        </div>
    </div>
</section>
<!--end subscription plan-->
<!--begin premium-->
<section class="premium">
    <div class="container">
        <div class="premium__title">
            <h3 class="title">
                Why premium?
            </h3>
        </div>
        <div class="premium__wrapper premium_wrap">
            <!--begin premium item-->
            <div class="premium_wrap__item premium_item">
                <div class="premium_item__icon">
                    <img src="img/icon_premium_1.svg" alt="Premium">
                </div>
                <div class="premium_item__title">
                    <h3 class="title">Updated daily</h3>
                </div>
            </div>
            <!--end premium item-->
            <!--begin premium item-->
            <div class="premium_wrap__item premium_item">
                <div class="premium_item__icon">
                    <img src="img/icon_premium_2.svg" alt="Premium">
                </div>
                <div class="premium_item__title">
                    <h3 class="title">Ad free</h3>
                </div>
            </div>
            <!--end premium item-->
            <!--begin premium item-->
            <div class="premium_wrap__item premium_item">
                <div class="premium_item__icon">
                    <img src="img/icon_premium_3.svg" alt="Premium">
                </div>
                <div class="premium_item__title">
                    <h3 class="title">3000 + articles</h3>
                </div>
            </div>
            <!--end premium item-->
            <!--begin premium item-->
            <div class="premium_wrap__item premium_item">
                <div class="premium_item__icon">
                    <img src="img/icon_premium_4.svg" alt="Premium">
                </div>
                <div class="premium_item__title">
                    <h3 class="title">Unlimited downloads</h3>
                </div>
            </div>
            <!--end premium item-->
        </div>
    </div>
</section>
<!--end premium-->
<!--begin try free-->
<section class="try_free">
    <div class="container">
        <div class="try_free__wrapper try_free_wrap">
            <div class="try_free__text">
                <p>Not ready for premium yet?</p>
            </div>
            <div class="try_free__link">
                <a class="btn_white" href="#/">Try free for 7 days</a>
            </div>
        </div>
    </div>
</section>
<!--end try free-->