<!--begin subscription password-->
<section class="subscription_password">
    <div class="container">
        <div class="subscription_password__title">
            <h3 class="title">Your password </h3>
        </div>
        <div class="subscription_password__text">
            <p>Sed ut perspiciatis, unde omnis iste natus error sit voluptatem accusantium doloremque laudantium, totam rem aperiam eaque ipsa, quae ab illo inventore veritatis.</p>
        </div>
        <div class="subscription_password__form">
            <form action="">
                <label for="password">Type your password below</label>
                <input id="password" type="password">
                <input type="submit" value="Next">
            </form>
        </div>
    </div>
</section>
<!--end subscription password-->