<!--begin subscription checkout-->
<section class="subscription_checkout">
    <div class="container">
        <div class="subscription_checkout__wrapper checkout_wrap">
            <!--begin checkout item-->
            <div class="checkout_wrap__item checkout_item">
                <div class="checkout_item__title">
                    <h2 class="title">
                        First month free!
                    </h2>
                </div>
                <div class="checkout_item__price">
                    $5.00<span>/month thereafter</span>
                </div>
                <div class="checkout_item__list">
                    <ul>
                        <li>
                            <img src="img/icon_premium_1.svg" alt="Premium">
                            3000 + articles
                        </li>
                        <li>
                            <img src="img/icon_premium_2.svg" alt="Premium">
                            Unlimited and ad free
                        </li>
                        <li>
                            <img src="img/icon_premium_3.svg" alt="Premium">
                            Updated daily
                        </li>
                        <li>
                            <img src="img/icon_premium_4.svg" alt="Premium">
                            Unlimited dowloads
                        </li>
                    </ul>
                </div>
                <div class="checkout_item__text">
                    <p>Monthly billing begins after your free trial. No commitments, cancel any time.</p>

                    <p>Students use the promo code pstudentGEN with your school or university email to get your 50% discount.</p>

                    <p>Have questions? Get in touch at <a href="mailto:listen@curio.io">listen@curio.io</a></p>
                </div>
            </div>
            <!--end checkout item-->
            <!--begin checkout item-->
            <div class="checkout_wrap__item checkout_item">
                <div class="checkout_item__logo">
                    <a href="#/"><img src="img/logo_checkout_1.png" alt="American express"></a>
                    <a href="#/"><img src="img/logo_checkout_2.png" alt="Visa"></a>
                    <a href="#/"><img src="img/logo_checkout_3.png" alt="Mastercard"></a>
                    <a href="#/"><img src="img/logo_checkout_4.png" alt="Stripe"></a>
                </div>
                <div class="checkout_item__form checkout_form">
                    <form action="">
                        <div class="checkout_form__item checkout_form__full">
                            <label for="card-no">Card number:
                                <input id="card-no" type="num" maxlength="19" placeholder="XXXX XXXX XXXX XXXX" />
                            </label>
                        </div>
                        <div class="checkout_form__item checkout_form__half">
                            <label for="card-expire">Expire date:</label>
                            <input id="card-expire" type="num" placeholder="MM/YY"/>
                        </div>
                        <div class="checkout_form__item checkout_form__half">
                            <label for="password-field">Security code:</label>
                            <input id="password-field" type="password" maxlength="3" />
                        </div>
                        <div class="checkout_form__item checkout_form__half">
                            <label for="password-field">Have a promo code?</label>
                            <input id="promocode" type="text" />
                        </div>
                        <div class="checkout_form__item checkout_form__full">
                            <input type="submit" value="Start your curio.io premium">
                        </div>
                    </form>
                </div>
                <div class="checkout_item__privacy">
                    <p>By continuing you declare that you’ve read and agree to our <a href="">Terms of Service</a> & <a
                            href="#/">Privacy Policy</a></p>
                </div>
            </div>
            <!--end checkout item-->
        </div>
    </div>
</section>
<!--end subscription checkout-->