<!--begin subscription customise-->
<section class="subscription_customise">
    <div class="container">
        <div class="subscription_customise__title">
            <h3 class="title">Customise your experience</h3>
        </div>
        <div class="subscription_customise__text">
            <p>Sed ut perspiciatis, unde omnis iste natus error sit voluptatem accusantium doloremque laudantium, totam rem aperiam eaque ipsa, quae ab illo inventore veritatis.</p>
        </div>
        <div class="subscription_customise__list customise_list">
            <!--begin customise item-->
            <div class="customise_list__item customise_item">
                <div class="customise_item__icon">
                    <img src="img/icon_customise_1.svg" alt="Customise">
                </div>
                <div class="customise_item__title">
                    <h3 class="title">
                        Arts
                    </h3>
                </div>
            </div>
            <!--end customise item-->
            <!--begin customise item-->
            <div class="customise_list__item customise_item">
                <div class="customise_item__icon">
                    <img src="img/icon_customise_2.svg" alt="Customise">
                </div>
                <div class="customise_item__title">
                    <h3 class="title">
                        Culture
                    </h3>
                </div>
            </div>
            <!--end customise item-->
            <!--begin customise item-->
            <div class="customise_list__item customise_item">
                <div class="customise_item__icon">
                    <img src="img/icon_customise_3.svg" alt="Customise">
                </div>
                <div class="customise_item__title">
                    <h3 class="title">
                        Health & Wellness
                    </h3>
                </div>
            </div>
            <!--end customise item-->
            <!--begin customise item-->
            <div class="customise_list__item customise_item">
                <div class="customise_item__icon">
                    <img src="img/icon_customise_4.svg" alt="Customise">
                </div>
                <div class="customise_item__title">
                    <h3 class="title">
                        History & Society
                    </h3>
                </div>
            </div>
            <!--end customise item-->
            <!--begin customise item-->
            <div class="customise_list__item customise_item">
                <div class="customise_item__icon">
                    <img src="img/icon_customise_5.svg" alt="Customise">
                </div>
                <div class="customise_item__title">
                    <h3 class="title">
                        Money & Economics
                    </h3>
                </div>
            </div>
            <!--end customise item-->
            <!--begin customise item-->
            <div class="customise_list__item customise_item">
                <div class="customise_item__icon">
                    <img src="img/icon_customise_6.svg" alt="Customise">
                </div>
                <div class="customise_item__title">
                    <h3 class="title">
                        People & Relationships
                    </h3>
                </div>
            </div>
            <!--end customise item-->
            <!--begin customise item-->
            <div class="customise_list__item customise_item">
                <div class="customise_item__icon">
                    <img src="img/icon_customise_7.svg" alt="Customise">
                </div>
                <div class="customise_item__title">
                    <h3 class="title">
                        Philosophy
                    </h3>
                </div>
            </div>
            <!--end customise item-->
            <!--begin customise item-->
            <div class="customise_list__item customise_item">
                <div class="customise_item__icon">
                    <img src="img/icon_customise_8.svg" alt="Customise">
                </div>
                <div class="customise_item__title">
                    <h3 class="title">
                        Psychology & The Mind
                    </h3>
                </div>
            </div>
            <!--end customise item-->
            <!--begin customise item-->
            <div class="customise_list__item customise_item">
                <div class="customise_item__icon">
                    <img src="img/icon_customise_9.svg" alt="Customise">
                </div>
                <div class="customise_item__title">
                    <h3 class="title">
                        Politics
                    </h3>
                </div>
            </div>
            <!--end customise item-->
            <!--begin customise item-->
            <div class="customise_list__item customise_item">
                <div class="customise_item__icon">
                    <img src="img/icon_customise_10.svg" alt="Customise">
                </div>
                <div class="customise_item__title">
                    <h3 class="title">
                        Science & Nature
                    </h3>
                </div>
            </div>
            <!--end customise item-->
            <!--begin customise item-->
            <div class="customise_list__item customise_item">
                <div class="customise_item__icon">
                    <img src="img/icon_customise_11.svg" alt="Customise">
                </div>
                <div class="customise_item__title">
                    <h3 class="title">
                        Technology & Innovation
                    </h3>
                </div>
            </div>
            <!--end customise item-->
            <!--begin customise item-->
            <div class="customise_list__item customise_item">
                <div class="customise_item__icon">
                    <img src="img/icon_customise_12.svg" alt="Customise">
                </div>
                <div class="customise_item__title">
                    <h3 class="title">
                        Work & Productivity
                    </h3>
                </div>
            </div>
            <!--end customise item-->
        </div>
    </div>
</section>
<!--end subscription customise-->